@import url('https://fonts.googleapis.com/css2?family=Muli&display=swap');

* {
  outline: 0px solid black;
  box-sizing: border-box;
}

:root {
  --gray: #E0E0E0;
  --blue: #2E93DD;
  --darkGray: #999999;
  --shadow: 1px 2px 5px rgba(104, 104, 104, 0.8);
}

body {
  font-family: 'Muli', sans-serif;
  background-color: #f6f7fb;
  color: #999;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

.progress-container {
  display: flex;
  justify-content: space-between;
  grid-gap: 50px;
  margin: 30px 0px;
  position: relative;
}

.progress-container::before {
  content: '';
  background-color: #999;
  position: absolute;
  top: 50%;
  left: 0;
  height: 1px;
  width: 100%;
  z-index: -1;
}

.progress {
  background-color: #3498db;
  position: absolute;
  top: 50%;
  left: 0;
  height: 3px;
  width: 0%;
  z-index: -1;
  transition: 0.4s ease;
}

.circle {
  border: 2px solid #999;
  color: #999;
  background-color: #fff;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 400ms ease;
}

.circle.active {
  border: 2px solid #2E93DD;
}

.controls {
  display: flex;
  grid-gap: 10px;
  justify-content: center;
}

.btn {
  display: block;
  background:#2E93DD;
  color: #fff;
  padding: 5px 15px;
  cursor: pointer;
  box-shadow: var(--shadow);
  border: 0px;
  border-radius: 6px;
  margin: 0px 5px;
  transition: 200ms ease-in;
}

button:hover {
  transform: scale(1.05);
}

.btn:disabled {
  background: var(--gray);
  cursor:not-allowed;
}
